[submodule "emacs/quattro"]
	path = emacs/quattro
	url = signali:/home/signali/git/emacs
[submodule "emacs/breadcrumb.git"]
	path = emacs/breadcrumb.git
	url = git://github.com/pheaver/breadcrumb.git
[submodule "gntp-send.git"]
	path = gntp-send.git
	url = git://github.com/mattn/gntp-send.git
